$primaryBackground: #DADADA;
$secondaryBackground: #B9B9B9;

$activeBackground: #FAFAFA;
$disabledBackground: #999;

$primaryTextColor: #222;
$secondaryTextColor: #444;

$primaryBorderColor: #999;
$imageBackdropBackground: #2F2F2F;

$primaryShadowColor: rgba(0,0,0,0.4);
$softShadowColor: rgba(0,0,0,0.2);
$hardShadowColor: rgba(0,0,0,0.8);


$letterInvalidColor: lightsalmon;
$letterValidColor: lightgreen;
$letterUnknownColor: #A2A2A2;

$wordTargetDoneBackground: #CFFFDE;

